{% extends "base_generic.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Αλλαγή Συνθηματικού {% endblock %}

{% block content %}
	<form action="" method="post" class="ma-form col-sm-4 offset-sm-4" autocomplete="off" novalidate>
	{% csrf_token %}

	{{ form|crispy }}
	<button class="btn btn-primary col-sm-6 offset-sm-3" type="submit">
		<span class="fa-stack">
			<i class="fas fa-sync-alt fa-stack-2x"></i>
	  		<i class="fas fa-lock fa-stack-1x"></i>
		</span>

		<span class="d-none d-xl-block">Αλλαγή Συνθηματικού</span>
	  </button>
  </form>
{% endblock %}