{% extends "base_generic.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Επιβεβαίωση Επαναφοράς Συνθηματικού {% endblock %}


{% block content %}
    {% if validlink %}
        <form class="ma-form col-sm-4 offset-sm-4" method="post" action="" autocomplete="off" novalidate>
        <h2 class="text-center">Παρακαλώ εισάγετε (και επιβεβαιώστε) το νέο σας συνθηματικό.</h2>
        {% csrf_token %}
        {{ form|crispy }}

		<div class="text-center">
			<button class="btn btn-primary login-btn" type="submit">
				<i class="fas fa-check-square"></i>
				Αλλαγή
			</button>
		</div>
                    	
        </form>
    {% else %}
    	<div class="reset-div col-sm-6">
	        <h1>Η επαναφορά συνθηματικού απέτυχε</h1>
	        <p>Ο σύνδεσμος επαναφοράς ήταν μη έγκυρος, ενδεχομένως επειδή είχε ήδη χρησιμοποιηθεί παλιότερα.
	        Παρακαλώ ζητήστε νέα επαναφορά συνθηματικού.
	        </p>
	   </div>
    {% endif %}
{% endblock %}