{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %} Έκβαση Αλλαγής Συνθηματικού {% endblock %}

{% block content %}
{% if request.user %}
    <nav class="navbar navbar-expand-lg navbar-light nav-bg">
	  <div class="navbar-collapse " id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href={% url 'search_add' %}>
                <i class="fas fa-home"></i>
                	Αρχική
                </a>
            </li>

	      	<li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Επιλογές
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href={% url 'export_csv' %}>Εξαγωγή δεδομένων σε CSV</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Οδηγίες Χρήσης</a>
	        </div>

	      </li>
	      {% block navextrasblock %}{% endblock %}
	    </ul>
	    <ul class="navbar-nav">
	    	<li class="nav-item">
                <a class="nav-link" href={% url 'logout' %}>
                <i class="fas fa-sign-out-alt"></i>
                	Αποσύνδεση
                </a>
        	</li>
	    </ul>

	  </div>
	</nav>

	<div class="reset-div col-sm-6">
		O κωδικός πρόσβασης σας στο σύστημα άλλαξε επιτυχώς!
	</div>

{% else %}
	<div class="reset-div col-sm-6">
		Δεν επιτρέπεται η απευθείας πρόσβαση σε αυτήν τη σελίδα
	</div>

	<script>
        var timer = setTimeout(function() {
            window.location={% url 'login' %}
        }, 3000);
    </script>

{% endif %}


{% endblock %}